@import "tailwindcss";
@config "../../../tailwind.config.mjs";

:root * {
  /* transition-property: background-color, color, border-color, fill, stroke; */
  /* transition-duration: 200ms; */
  /* transition-timing-function: ease; */
  /* border-radius: 10px; */
}

@layer base {
  /* Apply scrollbar hiding to the whole window */
  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}
