name: Publish Draft Release

on:
  release:
    types: [created]

jobs:
  publish-release:
    name: Publish Draft Release
    if: github.event.release.draft == true
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Publish Draft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ github.event.release.tag_name }}
        run: |
          IS_PRERELEASE="false"
          if [[ "${{ github.event.release.tag_name }}" == *beta* ]]; then
            echo "Tag contains 'beta', marking as pre-release."
            IS_PRERELEASE="true"
          fi

          gh release edit $TAG_NAME \
            --generate-notes \
            --prerelease=$IS_PRERELEASE \
            --draft=false
